<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Microsoft.Knowzy.NET.DAL.Properties.Settings.KnowzyDBConnectionString"
            connectionString="Data Source=localhost\sqlexpress;Initial Catalog=KnowzyDB;Persist Security Info=True;User ID=knowzy;Password=Kn0wzy!!!"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>